main {
  .title {
    padding: 4rem 0 2rem 0;;

    h1, h2 {
      color: #ffffff;
      font-size: 2rem;
      margin: 8px 0 10px 0;
      line-height: 110%;
    }

    h2 + p {
      color: #6F7270;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: #ffffff;
      margin: 5px 0 1.5rem 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
    }

    .form-item {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      height: 5rem;

      label {
        font-weight: 700;
        font-size: 1.25rem;
        color: #FFFFFF;
        margin-bottom: 8px;

        animation: fade-left 1s ease-in;
      }

      input, textarea {
        background: #1A1D21;
        border: 2px solid #00FF7E;
        border-radius: 10px;
        height: 2rem;
        color: #ffffff;
        max-width: 30rem;
        font-family: "open sans", sans-serif;

        animation: fade-right 1s ease-in;

        &:focus-visible {
          outline: #00FF7E 1px solid;
        }
      }

      textarea {
        min-height: 35vh;
        height: auto;
        resize: none;
        cursor: auto;
      }

      button {
        align-self: flex-start;
      }

      &.message {
        height: auto !important;
      }
    }
  }
}

.toast {
  position: fixed;
  width: fit-content;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 35px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);

  &.active {
    transform: translateX(0%);
  }

  &.error {
    .check {
      background-color: #f65058 !important;
    }

    .progress:before {
      background-color: #f65058 !important;
    }
  }

  .toast-content {
    display: flex;
    align-items: center;

    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      min-width: 35px;
      color: #fff;
      border-radius: 50%;

      background: #06F47C url("/assets/icons/check.svg") no-repeat center;
      background-size: 1.5rem;
    }

    .message {
      display: flex;
      flex-direction: column;
      margin: 0 20px;

      .text {
        font-size: 16px;
        font-weight: 400;
        color: #666666;

        &.text-1 {
          font-weight: 600;
          color: #333;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;

    background: url("/assets/icons/close.svg") no-repeat center;
    background-size: 14px;
    width: 10px;
    height: 16px;

    &:hover {
      opacity: 1;
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: #06F47C;
    }

    &.active:before {
      animation: progress 5s linear forwards;
    }
  }
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
