main {

  #home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 4rem 0;

    .title {

      button {
        cursor: text;
      }

      h1 {
        color: #ffffff;
        font-size: 2.5rem;
        margin: 8px 0 10px 0;
        line-height: 110%;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        margin: 5px 0;
      }
    }

    img {
      -webkit-filter: drop-shadow(6px 23px 60px rgb(6 244 124 / 50%));

      @media (max-width: 810px) {
        display: none;
      }
    }
  }

  #why {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    .title {

      h2 {
        color: #ffffff;
        font-size: 2rem;
        margin: 8px 0 10px 0;
        line-height: 110%;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: #6F7270;
        margin: 5px 0 1.5rem 0;
      }
    }

    .collection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        border: 3px solid #06F47C;
        border-radius: 3%;
        padding: 22px;
        margin-bottom: 15px;

        h4 {
          color: #ffffff;
          margin: 5px 0;
        }

        p {
          color: #727773;
          margin: 3px 0;
        }
      }
    }

    button {
      align-self: flex-start;
    }
  }

  #reviews {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    .title {

      h2 {
        color: #ffffff;
        font-size: 2rem;
        margin: 8px 0 10px 0;
        line-height: 110%;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: #6F7270;
        margin: 5px 0 1.5rem 0;
      }
    }

    .collection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .review {
        margin-right: auto;

        h5 {
          color: #ffffff;
          margin: 5px 0;
        }

        p {
          color: #727773;
          margin: 3px 0;
        }
      }
    }
  }

  #stats {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    .title {

      h2 {
        color: #ffffff;
        font-size: 2rem;
        margin: 8px 0 10px 0;
        line-height: 110%;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: #6F7270;
        margin: 5px 0 1.5rem 0;
      }
    }

    .collection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        display: flex;
        flex-direction: column;

        align-items: center;
        border: 3px solid #06F47C;
        border-radius: 3%;
        padding: 2rem;
        min-width: 6.25rem;
        margin-bottom: 15px;

        h5 {
          color: #ffffff;
          margin: 0;
          font-size: 2rem;
        }

        p {
          color: #727773;
          margin: 3px 0;
          text-align: center;
        }
      }
    }
  }

  #creations {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;

    .title {

      h2 {
        color: #ffffff;
        font-size: 2rem;
        margin: 8px 0 10px 0;
        line-height: 110%;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
        color: #6F7270;
        margin: 5px 0 1.5rem 0;
      }
    }

    .collection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .card {
        display: flex;
        flex-direction: column;

        align-items: center;
        border: 3px solid #06F47C;
        border-radius: 3%;

        img {
          width: 80vw;
          border-radius: 3%;
          max-width: 509px;
        }
      }
    }
  }
}
