header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 0;

  .mobile_menu_btn {
    background: url("/assets/icons/menu.svg") no-repeat;
    background-size: 2rem;
    width: 2rem;
    height: 2rem;

    padding: 14px;
    display: none;
    border: none;

    @media (max-width: 610px) {
      display: block;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;

      margin-right: 2.5rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #06f47c;
      }
    }

    button a {
      color: #101010 !important;
      font-weight: 600;
    }

    @media (max-width: 610px) {
      display: none;
    }
  }
}

#mobile_menu {
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  margin: 10px;
  border-radius: 8px;

  display: none;
  position: relative;
  background: #1d1d1d;

  animation: fadeIn 700ms ease both;

  a {
    color: #ffffff;
    text-decoration: none;
    margin: 1vw;
  }

  button {
    margin: 1vw;
  }

  &.open {
    display: flex;
    animation: fadeIn 700ms ease both;
  }
}

footer { 
  br.responsive {
    display: inline; // Show BR tag for narrow screens
  }
  
  @media (min-width: 100px) and (max-width: 800px) { // or whatever you are after
    br.responsive {
      display: none; // Hide BR tag for wider screens
    }
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  background: #1A1D21;
  padding: 3rem 12vw;

  @media (max-width: 1150px) {
    padding: 3rem 2rem;
  }

  @media (max-width: 500px) {
    padding: 3rem 1rem;
  }

  .column {
    display: flex;
    flex-direction: column;

    h5 {
      color: #06F47C;
      margin: 0 0 5px 0;
      font-size: 1.02rem;
    }

    a {
      color: #6F7270;
      text-decoration: none;
      margin: 3px 0;

      &:hover {
        color: #ffffff;
      }
    }

    p {
      color: #6F7270;
    }
  }
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    color: #6F7270;
    margin: 1rem;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
