header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 0;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 500;
      text-decoration: none;

      margin-right: 2.5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    #active {
      color: #06F47C;
    }

    @media (max-width: 610px) {
      display: none;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: #1A1D21;
  padding: 3rem 12vw;

  @media (max-width: 1150px) {
    padding: 3rem 2rem;
  }

  @media (max-width: 500px) {
    padding: 3rem 1rem;
  }

  .column {
    display: flex;
    flex-direction: column;

    h5 {
      color: #06F47C;
      margin: 0 0 5px 0;
      font-size: 1.02rem;
    }

    a {
      color: #6F7270;
      text-decoration: none;
      margin: 3px 0;

      &:hover {
        color: #ffffff;
      }
    }

    p {
      color: #6F7270;
    }
  }
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    color: #6F7270;
    margin: 1rem;
  }
}
