@import url(https://fonts.bunny.net/css?family=open-sans:400,600,700);

body {
  margin: 0;
  background: #101010;
  font-family: "open sans", sans-serif;
}

header, main {
  margin: 0 12vw;

  @media (max-width: 1150px) {
    margin: 0 2rem;
  }

  @media (max-width: 500px) {
    margin: 0 1rem;
  }
}

button {
  border: #06f47c 2px solid;
  border-radius: 10px;

  padding: 8px 10px;
  background: #101010;
  cursor: pointer;

  color: #ffffff;
  font-family: "open sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

b {
  background: linear-gradient(-90deg,
          #06f47c 0.00%,
          #3cdeb2 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;

  .logo {
    background: url("/assets/images/logo.svg") no-repeat;
    width: 39px;
    height: 28px;
    margin-right: 10px;
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
  }
}

::-webkit-scrollbar {
  height: 3px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #06f47c;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.router-link-active {
  color: #06f47c !important;
}

.reveal {
  position: relative;
  opacity: 0;

  &.active {
    opacity: 1;

    &.fade-left {
      animation: fade-left 1s ease-in;
    }

    &.fade-right {
      animation: fade-right 1s ease-in;
    }
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
