body {
  margin: 0;
  background: #101010;
  font-family: "open sans", sans-serif;
}

button {
  border: #06f47c 2px solid;
  border-radius: 10px;

  padding: 8px 10px;
  background: #101010;
  cursor: pointer;

  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
}
